.blogContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.postContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: var(--border);
}
.postImage {
    width: 200px;
}
.postH2 {
    margin: 0;
    padding: 0;
}

