.contactsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
}

.phoneContainer {
    justify-self: end;
}
.whatsAppContainer {
    justify-self: end;
}

/* Form */

h2 {
    text-align: center;
    margin-top: var(--big-padding);
    margin-bottom: var(--small-padding);
}

form {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
}

button {
    justify-self: end;
}


